.container{
    max-width: 450px;
    background-color:rgb(75, 210, 210)
}
.display{
    height:70px;
    line-height: 1.7;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 10px 10px 10px;
    background-color:rgb(78, 131, 192);
    text-align: right;
    color: white;
}
.buttons{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    height: 300px;
}
.btn{
    border: 1px solid black;
    text-align: center;
    line-height: 2.8;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.btn:hover{
    background-color:rgb(206, 114, 98);
    color:white;
}